<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" href="/ppms">
                        
                        <span>DASHBOARD</span>
                    </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        
                        <span>
                          DEMAND MNGT</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" href="#">Project Request</a></li>
            <li><a class="" href="#">Change Request</a></li>
            <li><a class="" href="#">KTLO</a></li>
            <li><a class="" href="#">Ad-hoc Demand</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        
                        <span>
                          RESOURCE MNGT</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" href="#">Resource Request</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        
                        <span>
                          PROG & PROJ DEL</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" href="#">Entity/Institution</a></li>
            <li><a class="" href="#">Region Approval</a></li>
            <li><a class="" href="#">Project Charter</a></li>
            <li><a class="" href="#">Project Status</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        
                        <span>
                          REPORTING</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" href="#">My Project</a></li>
            <li><a class="" href="#">My Status</a></li>
            <li><a class="" href="#">By Requestor/BRM/PM</a></li>
            <li><a class="" href="#">By Business Org Group</a></li>
            <li><a class="" href="#">By Business Org Family</a></li>
            <li><a class="" href="#">By Work Type</a></li>
            <li><a class="" href="#">By Fund Entities</a></li>
          </ul>
        </li>

        

      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->