<!--sidebar start. refererence to bootstrap -  14 Feb -->
<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->
    <!-- 15 Feb add href link. Add new -->
    <ul class="sidebar-menu">
      <li class="active">
        <a class="" href="/ppms">
          <span>DASHBOARD</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" class="">
          <span> DEMAND MNGT</span>
          <span class="menu-arrow arrow_carrot-right"></span>
        </a>
        <ul class="sub">
          <li>
            <a class="" href="/ppms/demand/project_request">Project Request
              <span style="color:red"> New!</span></a>
          </li>
          <li><a class="/ppms" href="/ppms">Change Request</a></li>
          <li><a class="/ppms" href="/ppms">KTLO</a></li>
          <li><a class="/ppms" href="/ppms">Ad-hoc Demand</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" class="">
          <span> RESOURCE MNGT</span>
          <span class="menu-arrow arrow_carrot-right"></span>
        </a>
        <ul class="sub">
          <li><a class="" href="/ppms">Resource Request</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" class="">
          <span> PROG & PROJ DEL</span>
          <span class="menu-arrow arrow_carrot-right"></span>
        </a>
        <ul class="sub">
          <li><a class="" href="/ppms">Entity/Institution Approval</a></li>
          <li><a class="" href="/ppms">Region/Cluster Approval</a></li>
          <li><a class="" href="/ppms">Project Charter</a></li>
          <li><a class="" href="/ppms">Project Management Plan</a></li>
          <li><a class="" href="/ppms">Project Status</a></li>
          <li><a class="" href="/ppms">Project Cash Flow</a></li>
          <li><a class="" href="/ppms">Rebaseline Request</a></li>
          <li><a class="" href="/ppms">Project Template</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" class="">
          <span> REPORTING</span>
          <span class="menu-arrow arrow_carrot-right"></span>
        </a>
        <ul class="sub">
          <li><a class="" href="/ppms">My Project</a></li>
          <li><a class="" href="/ppms">My Status</a></li>
          <li><a class="" href="/ppms">By Requestor/BRM/PM</a></li>
          <li><a class="" href="/ppms">By Business Org Group</a></li>
          <li><a class="" href="/ppms">By Business Org Family</a></li>
          <li><a class="" href="/ppms">By Work Type</a></li>
          <li><a class="" href="/ppms">By Fund Entities</a></li>
        </ul>
      </li>

      <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->