<%- include('partials/public_header'); %>

<div class="container">
  <form id="doLogin" class="login-form" action="/ppms/auth" method="POST">
    <!-- "/ppms/auth" defined in apps.js -->
    <div class="login-wrap">
      <p class="login-img"><i class="icon_lock_alt"></i></p>
      <%- include('partials/alert_messages'); %>

      <div class="input-group">
        <span class="input-group-addon"><i class="icon_mail_alt"></i></span>
        <input type="text" id="email" name="email" class="form-control" placeholder="Email" autofocus />
      </div>

      <div class="input-group">
        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
      </div>

      <!-- change register position. remove password 15 Feb -->
      <label class="checkbox">
        <span class="pull-right" style="color: black"> <a href="/ppms/signup"> <u>Register</u></a></span>
        <!-- <span class="pull-right"> <a href="#"> Forgot Password?</a></span> -->
      </label>

      <!-- <a class="btn btn-primary btn-lg btn-block" href="#"
        onclick="document.getElementById('doLogin').submit();">Login</a> -->
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Login
      </button>
    </div>
  </form>
</div>

<%- include('partials/public_footer'); %>