<%- include('partials/public_header'); %>
<div class="container">
  <form id="doRegister" class="login-form" action="/ppms/register" method="POST">
    <div class="login-wrap">
      <p class="login-img"><i class="icon_profile"></i></p>
      <%- include('partials/alert_messages'); %>
      <div class="input-group">
        <input type="text" id="user_name" name="user_name" class="form-control" required placeholder="User Name" />
        <span class="input-group-addon"><i class="icon_profile"></i></span>
      </div>

      <div class="input-group">
        <input type="email" id="email" name="email" class="form-control" required placeholder="Email" />
        <span class="input-group-addon"><i class="icon_mail_alt"></i></span>
      </div>

      <div class="input-group">
        <input type="password" id="password" name="password" class="form-control" required placeholder="Password" />
        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
      </div>

      <div class="input-group">
        <input type="text" id="first_name" name="first_name" class="form-control" required placeholder="First Name" />
        <span class="input-group-addon"><i class=""></i></span>
      </div>

      <div class="input-group">
        <input type="text" id="last_name" name="last_name" class="form-control" required placeholder="Last Name" />
        <span class="input-group-addon"><i class=""></i></span>
      </div>

      <div class="input-group">
        <input type="text" id="designation" name="designation" class="form-control" required placeholder="Designation">
        <span class="input-group-addon"><i class=""></i></span>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
      <!--  <a class="btn btn-primary btn-lg btn-block" href="#"
        onclick="document.getElementById('doRegister').submit();">Register</a> -->

      <label class="checkbox">
        <span class="pull-right" style="color:black"> Already have an account? <a href="/ppms"> <u>Login</u></a></span>
      </label>

    </div>
  </form>
</div>

<%- include('partials/public_footer'); %>